/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
