/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;

  // outline: solid 1px #ff00d9;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  min-width: $breakpoint-mobile-min;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: $base-font, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: $accent-light-grey;
  color: $accent-dark-grey;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: contain;
}

picture,
source {
  display: contents;
}
