// Шрифты
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

// Медиа
@mixin mobile {
  @media screen and (min-width: $breakpoint-mobile-min) {
    @content;
  }
}

@mixin max-width-mobile {
  @media screen and (max-width: $breakpoint-mobile-max) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet-min) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop-min) {
    @content;
  }
}

// Контейнер
@mixin container {
  width: 100%;
  margin: 0 auto;

  @include max-width-mobile {
    min-width: 320px;
    padding: 0 20px;
  }

  @include tablet {
    min-width: 768px;
    padding: 0 30px;
  }

  @include desktop {
    min-width: 1220px;
    max-width: 1440px;
    padding: 0 110px;
  }
}

// Заголовки, подзаголовки
//h1 - headline
@mixin headline($font-family: $main-font, $color: $black) {
  display: block;

  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;

  color: $color;

  @media (min-width: $breakpoint-tablet-min) {
    font-size: 60px;
    line-height: 60px;
  }
}

//h2 - title
@mixin title($font-family: $main-font, $color: $black) {
  display: block;

  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  color: $color;

  @media (min-width: $breakpoint-tablet-min) {
    font-size: 60px;
    line-height: 60px;
  }
}

//h3 - subtitle
@mixin subtitle($font-family: $main-font, $color: $black) {
  display: block;

  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;

  color: $color;

  @media (min-width: $breakpoint-tablet-min) {
    font-size: 36px;
    line-height: 36px;
  }
}

//h4 - denomination
@mixin denomination($font-family: $main-font, $color: $specify-dark-grey) {
  display: block;

  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  color: $color;

  @media (min-width: $breakpoint-tablet-min) {
    font-size: 20px;
    line-height: 24px;
  }
}

//h5 - info
@mixin info($font-family: $main-font, $color: $extra-dark-grey) {
  display: block;

  margin: 0;
  padding: 0;

  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  color: $color;

  @media (min-width: $breakpoint-tablet-min) {
    font-size: 20px;
    line-height: 24px;
  }
}

// Списки
@mixin reset-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

// Ссылки
@mixin reset-link {
  @include reset-list;

  display: block;

  border-style: none;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

// Псевдо-элемент
@mixin pseudo-element($content: "", $position: absolute, $display: block) {
  content: $content;
  position: $position;
  display: $display;
}

// Кнопки
@mixin button {
  display: block;

  height: 40px;
  margin: 0;
  padding: 10px 0;

  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  word-break: break-word;
  border-style: none;
  cursor: pointer;
  background: none;
  vertical-align: middle;

  transition: 0.25s ease-in-out;

  &:hover {
    outline: none;
    border: none;
  }

  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
    outline: none;
    border: none;
  }

  &:disabled {
    opacity: 0.5;
  }

  @include tablet {
    padding: 14px 0;

    font-size: 20px;
    line-height: 26px;
  }
}

@mixin primary-button($color: $white, $bg-color: $primary) {
  @include button;

  color: $color;
  background-color: $bg-color;

  transition-duration: 1s, 1s, 2s;
  transition-property: color, background-color, transform;
  transition-timing-function: ease-in-out;

  &:hover {
    $bg-color: $hover-green;
  }

  &:focus {
    $bg-color: $hover-green;
  }

  &:active {
    $bg-color: $hover-green;
    opacity: 0.3;
  }
}

@mixin grey-button($color: $accent-dark-grey, $bg-color: $accent-light-grey) {
  @include button;

  color: $color;
  background-color: $bg-color;

  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  transition-duration: 1s;

  &:hover {
    $bg-color: $extra-light-grey;
  }

  &:focus {
    $bg-color: $extra-light-grey;
  }

  &:active {
    $bg-color: $extra-light-grey;
    opacity: 0.3;
  }
}


// Линия
@mixin bordered($color, $width) {
  border: $width solid $color;
}

@mixin bordered-b($color, $width) {
  border-bottom: $width solid $color;
}


// Центровка
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

// "Ошибка"
@mixin error {
  padding: 13px;

  font-family: $main-font;
  font-size: 20px;
  line-height: 30px;

  color: $accent-dark-grey;
  text-transform: uppercase;

  border: 1px solid $color-email;
  width: 100%;
  margin-bottom: 14px;
}


// Тест
@mixin outline($test-color: #ec5a5a) {
  outline: 3px solid $test-color;
  outline-offset: -3px;
}

// @include outline($test-color: #5aeca8);
