/* здесь используйте глобальные переменные */

// white
$basic-white: #ffffff;

// black
$basic-black: #000000;
$secondary_black: #111111;

// green
$basic-green: #68b738;
$secondary-green-2: #68b738 85%;

// grey
$basic-grey: #cdcdcd;
$secondary_grey: #f2f2f2;
$special_grey-decorate: #666666;
$special_dark-grey: #444444;
$fon_grey: #d9d9d9;
$fon_grey-mobile-tablet: #eaeaea;

$status_error: #ff8282;
