/* здесь используйте глобальные переменные */

$basic-white: #ffffff;

$basic-black: #000000;
$special_black: #111111;

$basic-green: #68b738;
$basic-green-2: #68b738d9;

$basic-grey: $f2f2f2;
$special_grey: #cdcdcd;
$special_grey-decorate: #666666;
$special_dark-grey: #444444;
$fon_grey: #d9d9d9;
$fon_grey-mobile-tablet: #eaeaea;

$status_error: #ff8282;
