/* здесь используйте глобальные переменные */

// Подключение шрифтов
$base-font: "Lato", sans-serif;
$main-font: "Oswald", sans-serif;

// Основные цвета
$white: #ffffff;
$black: #000000;
$primary: #68b738;

// Дополнительные цвета
$accent-light-grey: #f2f2f2;
$very-light-grey: #eaeaea;
$extra-light-grey: #e6e6e6;
$specify-light-grey: #d9d9d9;
$light-grey: #d3d3d3;
$dark-grey: #cdcdcd;
$accent-dark-grey: #444444;
$very-dark-grey: #666666;
$extra-dark-grey: #111111;
$specify-dark-grey: #222222;

// Активные цвета
$hover: #3e3e3e;
$hover-green: #5eaa2f;
$active: #6b6b6b;
$active-white: rgba(255, 255, 255, 0.3);
$color-email: #e7e7e7;
$error-color: #ff8282;


//Фоновые цвета
$primary-fon: rgba($primary, 0.85);

// Брейкпоинты
$breakpoint-mobile-min: 320px;
$breakpoint-mobile-max: 767px;
$breakpoint-tablet-min: 768px;
$breakpoint-desktop-min: 1440px;
