.header-logo {
  @include reset-link;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;

  width: 190px;

  margin: 0;
  margin-right: auto;
  padding: 0;

  line-height: 0;

  border: none;
  text-align: left;
  background-color: transparent;

  transition: all 0.3s ease-out;

  @include tablet {
    justify-content: space-between;
    align-items: center;
    gap: 13px;

    width: 174px;
  }

  @include desktop {
    gap: 14px;

    width: 202px;
  }

  &:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &__logo-image {
    width: 33px;
    height: 38px;

    border-style: none;

    @include tablet {
      width: 60px;
      height: 50px;
    }

    @include desktop {
      width: 70px;
      height: 59px;
    }
  }

  &__logo-text {
    width: 101px;
    height: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

    @include desktop {
      width: 118px;
      height: 21px;
      margin: 0;
    }
  }
}
