.hero {
  position: relative;

  margin-bottom: 20px;

  text-align: center;

  transition: all 0.8s ease-out;

  @include tablet {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;

    background-color: transparent;
    text-align: left;
  }

  @include desktop {
    margin-bottom: 82px;
    padding: 0 0 184px 80px;
  }

  &__wrapper {
    @include container;

    max-height: 480px;

    @include tablet {

    }
  }

  &__inner-wrapper {
    position: relative;

    height: 305px;
    padding: 27px 0 29px;

    &::before {
      @include pseudo-element;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;

      width: 100%;
      height: 100%;

      background-color: $primary;
      background-image:
        linear-gradient(to bottom, $primary-fon, $primary-fon),
        image-set(
          url("../../images/index-page/cat-mobile@2x.webp") 2x type("image/webp"),
          url("../../images/index-page/cat-mobile@2x.jpg") 2x type("image/jpeg"),
          url("../../images/index-page/cat-mobile@1x.webp") 1x type("image/webp"),
          url("../../images/index-page/cat-mobile@1x.jpg") 1x type("image/jpeg")
        ),
        linear-gradient(to right, #5a5a62 50%, #42425b 50%);
      background-repeat: no-repeat;
      background-position: 47% center;
      background-size: cover, auto 302px, cover;

      transition: all 0.8s ease-out;
    }

    @include tablet {
      height: 810px;
      padding: 0;

      &::before {
        content: none;
      }
    }

    @include desktop {
      padding: 110px 0 52px;
    }
  }

  &__title {
    position: relative;
    z-index: 3;

    width: 280px;
    margin: 0 auto 22px;

    font-family: $main-font;
    line-height: 37px;

    color: $white;
    text-align: center;

    @include tablet {
      width: 416px;
      margin: 65px 0 40px 90px;

      color: $black;
      text-align: left;
    }

    @include desktop {
      margin: 0 0 40px 80px;
    }
  }

  &__slogan {
    position: relative;
    z-index: 3;

    width: 280px;
    margin: 0 auto 29px;

    font-family: $main-font;
    font-size: 14px;
    line-height: 14px;

    color: $white;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
      width: 416px;
      margin: 0 0 50px 90px;

      font-size: 20px;
      line-height: 20px;

      color: $black;
      text-align: left;
    }

    @include desktop {
      margin: 0 0 52px 80px;
    }
  }

  &__image {
    position: relative;
    z-index: 3;

    display: block;

    margin: -137px auto 3px;

    animation-name: fadeOut;
    animation-duration: 1.5s;

    @include tablet {
      position: absolute;
      z-index: -1;
      top: 266px;
      left: 50%;

      width: 709px;
      height: 609px;
      margin: 0;
      padding: 0;

      transform: translate(-50%);
    }

    @include desktop {
      top:  137px;
      right: 331;
      left: calc(100% - 330px - 552px);
      z-index: 2;

      transform: translate(0);
    }
  }

  &__button {
    width: 280px;
    margin: 0 0 20px 0;

    @include tablet {
      width: 242px;
      margin: 0 0 0 90px;
      padding: 14px;
    }

    @include desktop {
      width: 244px;
      margin: 0 0 266px 80px;
    }
  }
}
