.hero {
  position: relative;

  margin: 0 auto;

  transition: all 0.8s ease-out;

  @include max-width-mobile {
    &::before {
      @include pseudo-element;
      right: 0;
      left: 0;
      z-index: -1;

      height: 302px;

      background-color: $primary;
      background-image:
        linear-gradient(to bottom, $primary-fon, $primary-fon),
        image-set(
          url("../../images/index-page/cat-mobile@2x.webp") 2x type("image/webp"),
          url("../../images/index-page/cat-mobile@2x.jpg") 2x type("image/jpeg"),
          url("../../images/index-page/cat-mobile@1x.webp") 1x type("image/webp"),
          url("../../images/index-page/cat-mobile@1x.jpg") 1x type("image/jpeg")
        ),
        linear-gradient(to right, #5a5a62 50%, #42425b 50%);
      background-repeat: no-repeat;
      background-position: 60% center;
      background-size: cover, auto 302px, cover;

      transition: all 0.8s ease-out;
    }
  }

  @include tablet {
    max-width: 768px;

    background-color: transparent;

    &::before {
      display: none;
    }
  }

  @include desktop {
    max-width: 1440px;
    margin-bottom: 82px;
  }
}

.hero__wrapper {
  @include container;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  min-height: 480px;

  margin: 0 auto;

  @include tablet {
    align-items: flex-start;

    min-height: 875px;

    background-color: $white;
  }

  @include desktop {
    min-height: 579px;

    background-color: transparent;
  }
}

.hero__title {
  position: relative;

  max-width: 280px;
  margin: 25px 0;
  padding: 0;

  line-height: 38px;

  color: $white;
  text-align: center;

  @include tablet {
    max-width: 416px;
    margin: 65px 0 20px 90px;

    line-height: 60px;

    color: $black;
    text-align: left;
  }

  @include desktop {
    margin: 110px 0 0 80px;
  }
}

.hero__slogan {
  position: relative;

  max-width: 416px;
  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-size: 14px;
  line-height: 14px;

  color: $white;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    width: 420px;
    margin: 20px 0 50px 90px;

    font-size: 20px;
    line-height: 20px;

    color: $black;
    text-align: left;
  }

  @include desktop {
    margin: 40px 0 0 80px;
  }
}

.hero__image {
  display: block;

  min-width: 280px;
  margin: 29px auto 3px;

  animation-name: fadeOut;
  animation-duration: 1.5s;

  @include tablet {
    position: absolute;
    bottom: 0;
    left: 50%;

    min-width: 570px;
    margin: 0;

    transform: translate(-50%);
  }

  @include desktop {
    top: 29px;
    left: 557px;

    min-width: 552px;

    transform: none;
  }
}

.hero__button {
  width: 280px;
  padding-right: 30px;
  padding-left: 30px;

  @include tablet {
    position: absolute;
    top: 295px;
    left: 120px;

    width: 242px;
    min-height: 54px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include desktop {
    position: static;

    width: 244px;
    margin: 52px 0 0 80px;
  }
}
