.main-header {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 320px;
  margin: 0 auto;
  padding: 13px 0 14px;

  font-size: 0;

  background-color: $white;
  color: $black;

  transition: all 0.5s ease;

  @include tablet {
    min-width: 768px;
    height: 75px;
    padding: 25px 0 0;
  }

  @include desktop {
    min-width: 1440px;
    height: 114px;
    padding: 55px 0 0;

    background-color: transparent;
    color: $white;
  }

  &__wrapper {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-width: 320px;
    height: auto;
    margin: 0 auto;

    @include tablet {
      align-items: flex-end;

      min-width: 768px;
    }

    @include desktop {
      min-width: 1220px;
    }
  }

  &__header-logo {
    @include reset-link;

    position: relative;

    display: flex;
    align-items: center;

    min-width: 190px;
    min-height: 38px;
    margin-right: auto;
    padding: 0;

    color: $extra-dark-grey;

    @include tablet {
      min-width: 174px;
      min-height: 50px;
    }

    @include desktop {
      min-width: 202px;
      min-height: 59px;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
