.navigation {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;

  transition: margin 3s cubic-bezier(0.17, 0.04, 0.03, 0.94);

  @include max-width-mobile {
    &--nojs {
      position: static;
    }
  }

  @include tablet {
    display: flex;
    
    width: 436px;
  }

  @include desktop {
    width: 475px;
  }

  &__list {
    @include reset-list;

    position: relative;
    top: 0;

    margin: 0 auto;

    background-color: $white;
    text-align: center;

    transition: top 3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transform: translateY(-150%);
    animation: ani 1s forwards;

    @include max-width-mobile {
      position: relative;
      right: 0;
      left: 0;
      z-index: 100;

      width: 100%;
      min-width: 320px;
      margin-right: auto;
      margin-left: auto;
    }

    @include tablet {
      top: 0;

      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      gap: 34px;

      width: 465px;
    }

    @include desktop {
      position: relative;

      gap: 33px;

      width: 480px;
      height: 59px;

      background-color: transparent;
    }

    &__list--catalog-index {
      display: block;
    }
  }

  &__item {
    @include max-width-mobile {
      border-top: 1px solid $extra-light-grey;
    }

    @include tablet {
      border: none;
    }
  }

  &__link {
    @include reset-link;

    display: block;

    font-family: $main-font;
    font-size: 20px;
    line-height: 20px;

    color: $black;
    text-transform: uppercase;
    text-align: center;

    transition: all 0.2s ease-out 0s;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @include max-width-mobile {
      display: block;

      min-height: 66px;
      padding: 22px 0 24px;
    }

    @include tablet {
      min-height: 50px;
      padding: 14px 4px 0;

      font-size: 18px;
      line-height: 24px;
    }

    @include desktop {
      min-height: 59px;
      padding: 16px 0 3px;

      font-size: 20px;
      line-height: 30px;
    }
  }
}



