.navigation {
  transition: margin 3s cubic-bezier(0.17, 0.04, 0.03, 0.94);

  &__content {
    display: flex;
    align-items: center;

    margin: 0 auto;

    @include max-width-mobile {
      min-width: 280px;
      padding: 13px 0 14px;
    }

    @include tablet {
      justify-content: space-between;

      min-width: 174px;
      margin: 0;
      padding: 0;
    }

    @include desktop {
      &--catalog {
        padding-bottom: 75px;
      }
    }
  }

  &__toggle {
    position: relative;
    right: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    width: 24px;
    height: 24px;
    margin-left: auto;
    padding: 7px 0;

    font-family: $base-font;

    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    overflow: visible;

    @include tablet {
      display: none;
    }
  }

  &__list {
    @include reset-list;

    display: flex;

    background-color: $white;
    text-align: center;

    transition: top 3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transform: translateY(-150%);
    animation: ani 1s forwards;

    @include max-width-mobile {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;

      width: 100%;
      min-width: 280px;
      margin: 0 auto;
    }

    @include tablet {
      position: static;

      flex-direction: row;
      flex-wrap: wrap;
      gap: 33px;

      min-width: 438px;
      margin-right: 1px;
      margin-left: auto;
    }

    @include desktop {
      gap: 33px;

      min-width: 479px;
      margin-right: 0;

      background-color: transparent;
    }

    &__list--catalog-index {
      display: block;
    }
  }

  &__item {
    @include max-width-mobile {
      margin-left: -20px;
      margin-right: -20px;

      @include bordered-t(1px, $extra-light-grey);
    }

    @include tablet {
      border: none;
    }
  }

  &__link {
    @include reset-link;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $main-font;
    font-size: 20px;
    line-height: 20px;

    color: $black;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    transition: all 0.2s ease-out 0s;

    @include max-width-mobile {
      height: 100%;
      padding: 22px 0 24px;
    }

    @include tablet {
      padding-top: 14px;

      font-size: 18px;
      line-height: 24px;
    }

    @include desktop {
      font-size: 20px;
      line-height: 100%;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include max-width-mobile {
    &--closed &__toggle::before {
      @include pseudo-element;
      top: 4px;
      right: 1px;

      width: 24px;
      height: 2px;

      background-color: $black;
      box-shadow:
        0 8px 0 0 $black,
        0 16px 0 0 $black;

      transition: all 0.5s ease;
    }

    &--opened &__toggle::before,
    &--opened &__toggle::after {
      @include pseudo-element;
      top: 11px;
      right: 0;

      width: 25px;
      height: 1.5px;

      background-color: $black;

      transition: all 0.5s ease;
    }

    &--opened &__toggle::before {
      box-shadow: none;

      transition: all 0.5s ease;
      transform: rotate(45deg);
    }

    &--opened &__toggle:hover::before {
      background-color: $hover-green;
      box-shadow:
        0 8px 0 0 $hover-green,
        0 16px 0 0 $hover-green;
    }

    &--opened &__toggle::after {
      transition: all 0.5s ease;
      transform: rotate(-45deg);
    }

    &--closed &__toggle:hover::after {
      background-color: $hover-green;
      box-shadow: none;
    }

    &--closed &__toggle:active::before,
    &--closed &__toggle:active::after {
      background-color: $active-white;
      box-shadow:
        0 8px 0 0 $active-white,
        0 16px 0 0 $active-white;

      transition: all 0.5s ease;
    }

    &--opened &__toggle:hover::before,
    &--opened &__toggle:hover::after {
      background-color: $hover-green;
      box-shadow:
        0 8px 0 0 $active-white,
        0 16px 0 0 $active-white;

      transition: all 0.5s ease;
    }

    &--opened &__toggle:active::before,
    &--opened &__toggle:active::after {
      background-color: $active-white;
      box-shadow:
        0 8px 0 0 $active-white,
        0 16px 0 0 $active-white;

      transition: all 0.5s ease;
    }

    &--closed &__list {
      display: none;
    }

    &--opened &__list {
      display: block;

      width: 100%;
    }

    // Если не используются скрипты
    &--nojs {
      position: static;

      // min-height: 264px;

      transition: height 0.5s, opacity 1s;
    }

    &--nojs &__list {
      display: block;
    }

    &--nojs &__toggle {
      display: none;
    }

    &--nojs &__link--current {
      pointer-events: none;
    }
  }

  @include tablet {
    &--active {
      color: $black;
      opacity: 1;
    }

    & &__link--current {
      padding-bottom: 10px;
      @include bordered-b(2px, $primary);
    }
  }

  @include desktop {
    &__list--index &__link {
      color: $white;
    }

    &__list--index &__link--current {
      @include bordered-b(2px, $white);
    }

    &__list--catalog &__link,
    &__list--form &__link {
      color: $black;
    }

    &__list--catalog &__link--catalog-current,
    &__list--form &__link--catalog-current {
      @include bordered-b(2px, $primary);
    }
  }
}
