.addition {
  position: relative;

  transition: all 0.8s ease-out;

  &__subtitle {
    overflow: hidden;

    @include subtitle;
    position: relative;
    margin: 25px auto 36px;
    line-height: 24px;
    white-space: nowrap;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 0, transparent 12px, $primary 12px, $primary 14px, transparent 14px, transparent 100%);

    @include tablet {
      margin: 74px auto 80px;
      padding: 0 calc((100vw - 768px) / 2);
      font-size: 32px;
      line-height: 32px;
      text-align: left;
      background-image: linear-gradient(to bottom, transparent 0, transparent 16px, $primary 16px, $primary 18px, transparent 18px, transparent 100%);
    }

    @include desktop {
      margin-top: 45px;
      padding: 0 calc((100vw - 1220px) / 2);
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__text-subtitle {
    display: inline-block;
    margin-left: -40px;
    padding: 0 40px;
    background-color: #ffffff;

    @include tablet {
      margin-left: 24px;
    }

    @include desktop {
      margin-left: -50px;
    }
  }

  &__wrapper {
    @include container;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 80px;

      margin: 0 auto;
    }
  }

  &__list {
    @include reset-list;
    margin-bottom: 35px;

    @include tablet {
      margin-bottom: 70px;
    }

    @include desktop {
      width: 895px;
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    max-width: 280px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 19px;

    border-bottom: 1px solid $dark-grey;

    &:first-child {
      border-top: 1px solid $dark-grey;
    }

    @include tablet {
      display: grid;
      grid-template-columns: 1fr;
      gap: 25px;

      max-width: 708px;
      padding: 26px 38px 28px;

      border-left: 1px solid $dark-grey;
      border-right: 1px solid $dark-grey;
    }

    @include desktop {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 40px;

      max-width: 1221px;
      min-height: 72px;

      padding: 0;
      border-left: 0;
      border-right: 0;
    }
  }

  &__link {
    @include reset-link;
    min-width: 280px;

    @include desktop {
      min-width: 326px;
    }
  }

  &__denomination {
    @include denomination;
    min-width: 100%;
    margin: 13px 0;

    line-height: 16px;

    text-transform: uppercase;
    text-align: left;
    vertical-align: middle;

    @include tablet {
      min-width: auto;
      margin: 0;

      line-height: 20px;
    }

    @include desktop {
      padding-left: 1px;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;

    min-width: 100%;
    margin: 0;

    font-family: $base-font;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;

    vertical-align: middle;
    color: $accent-dark-grey;

    @include tablet {
      min-width: auto;
    }

    @include desktop {
      margin-right: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: row;

      min-width: auto;
      height: 20px;

      text-align: right;
    }

    @include desktop {
      margin-right: 20px;
    }
  }

  &__parameter {
    flex-shrink: 0;

    min-width: 126px;
    text-align: left;

    @include tablet {
      min-width: 132px;
      margin-right: auto;

      text-align: right;
    }

    @include desktop {
      margin-right: auto;
      text-align: left;
    }
  }

  &__price {
    flex-shrink: 0;

    min-width: 37px;

    text-align: right;

    @include tablet {
      min-width: 93px;

      margin-right: auto;
    }

    @include desktop {
      text-align: left;
    }
  }

  &__button {
    @include primary-button;
    flex: 1 0 100%;

    min-width: 280px;
    max-height: 40px;

    margin: 15px auto 0;

    @include tablet {
      min-width: 632px;
      margin: 0;
      padding: 10px 0;

      line-height: 20px;
    }

    @include desktop {
      flex: 0 0 244px;

      min-width: 244px;

      margin: 15px 0 17px;
    }
  }
}

.addition__gift {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  min-width: 280px;
  min-height: 290px;
  margin: 0 auto;

  color: $accent-dark-grey;
  background-color: $accent-light-grey;
  background-image:
    image-set(
      url("../../images/index-catalog/foto-addition@1x.webp") 1x type("image/webp"),
      url("../../images/index-catalog/foto-addition@2x.webp") 2x type("image/webp"),
      url("../../images/index-catalog/foto-addition@1x.jpg") 1x type("image/jpeg"),
      url("../../images/index-catalog/foto-addition@2x.jpg") 2x type("image/jpeg")
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;

    min-width: 707px;
    min-height: 200px;

    background-image:
      image-set(
        url("../../images/index-catalog/tablet-add@1x.webp") 1x type("image/webp"),
        url("../../images/index-catalog/tablet-add@2x.webp") 2x type("image/webp"),
        url("../../images/index-catalog/tablet-add@1x.jpg") 1x type("image/jpeg"),
        url("../../images/index-catalog/tablet-add@2x.jpg") 2x type("image/jpeg")
      );
  }

  @include desktop {
    flex-direction: column;
    justify-content: flex-end;

    min-width: 245px;
    min-height: 288px;
    padding: 0;
    background-image:
      image-set(
        url("../../images/index-catalog/foto-addition@1x.webp") 1x type("image/webp"),
        url("../../images/index-catalog/foto-addition@2x.webp") 2x type("image/webp"),
        url("../../images/index-catalog/foto-addition@1x.jpg") 1x type("image/jpeg"),
        url("../../images/index-catalog/foto-addition@2x.jpg") 2x type("image/jpeg")
      );
    background-position: -30px 0;
  }

  &::before {
    @include pseudo-element;
    z-index: 50;

    width: 78px;
    height: 80px;
    margin: 0;
    margin-bottom: 151px;

    background-image: url("../../icons/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 78px 80px;

    @include tablet {
      width: 80px;
      height: 83px;
      margin: 0;
      margin-left: 77px;

      background-size: 80px 83px;
    }

    @include desktop {
      margin-left: 0;
      margin-bottom: 149px;
    }
  }

  &::after {
    @include pseudo-element;
    inset: 0;
    z-index: 10;
    background-image: linear-gradient($primary-fon, $primary-fon);
  }
}

.addition__slogan {
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 161px;
  margin: 0;
  margin-bottom: 43px;

  font-family: $base-font;
  font-size: 16px;
  line-height: 20px;

  color: $white;
  text-align: center;

  @include tablet {
    justify-content: flex-end;

    margin: 0;
    margin-left: 421px;

    text-align: left;
  }

  @include desktop {
    justify-content: center;

    margin-left: 0;
    margin-bottom: 43px;

    text-align: center;
  }
}
