.addition {
  overflow: hidden;
}

.addition__wrapper {
  @include container;

  width: 320px;
}

.addition__subtitle {
  @include subtitle;

  position: relative;

  display: inline-block;

  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 36px;
  padding-right: 40px;

  line-height: 24px;

  background-color: $white;

  @include tablet {
    margin-bottom: 80px;
    padding-left: 40px;

    font-size: 32px;
    line-height: 32px;
  }

  @include desktop {
    margin-bottom: 80px;
    margin-left: -40px;

    font-size: 40px;
    line-height: 40px;
  }

  &::after {
    @include pseudo-element;
    top: 50%;
    left: 0;
    z-index: -1;

    width: 800%;
    height: 2px;

    background-color: $primary;
  }

  &::before {
    @include tablet {
      @include pseudo-element;
      top: 50%;
      right: 0;
      z-index: -1;

      width: 800%;
      height: 2px;

      background-color: $primary;
    }
  }
}

.addition__products {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.addition__gift {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-width: 280px;
  min-height: 290px;
  margin: 0;
  padding: 0 58px;

  color: $black;
  background-color: $white;
  background-image: url("../../../images/index-catalog/foto-addition@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../images/index-catalog/foto-addition@2x.jpg");
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;

    min-width: 708px;
    min-height: 200px;
    padding: 57px 0;

    background-image: url("../../../images/index-catalog/tablet-add@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../../images/index-catalog/tablet-add@2x.jpg");
    }
  }

  @include desktop {
    flex-direction: column;

    width: 245px;
    min-height: 288px;
    padding: 0;

    background-image: url("../../../images/index-catalog/foto-addition@1x.jpg");
    background-position: -30px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../images/index-catalog/foto-addition@2x.jpg");
    }
  }

  &::before {
    @include pseudo-element;
    z-index: 50;

    width: 78px;
    height: 80px;

    background-image: url("../../../icons/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 78px 80px;

    @include tablet {
      width: 80px;
      height: 83px;

      background-size: 80px 83px;
    }
  }

  &::after {
    @include pseudo-element;
    inset: 0;
    z-index: 10;

    background-image: linear-gradient($primary-fon, $primary-fon);
  }
}

.addition__slogan {
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  font-family: $base-font;
  font-size: 16px;
  line-height: 20px;

  color: $white;
  text-align: center;

  @include tablet {
    max-width: 161px;

    text-align: left;
  }

  @include desktop {
    text-align: center;
  }
}
