.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);

  min-height: 107px;
  padding: 27px 0 25px;

  @include tablet {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr auto;

    width: 324px;
    min-height: 430px;
    padding: 0 37px 40px;

    background: linear-gradient(to top, $accent-light-grey 430px, $white 81px);
  }

  @include desktop {
    width: 245px;
    padding: 17px 38px 40px;
  }
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 107px;
  margin: 0;
  padding: 0;

  text-decoration: none;
  cursor: pointer;

  @include tablet {
    flex-direction: column;

    margin: 0 auto;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
    color: $accent-light-grey;
  }
}

.card__image {
  display: block;

  background: transparent;

  @include tablet {
    margin-top: 10px;
    margin-bottom: 22px;
  }

  @include desktop {
    margin-bottom: 12px;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include tablet {
    width: 250px;
    height: 107px;

  }
}

.card__denomination {
  @include denomination;

  max-width: 80px;
  margin: 0;

  text-transform: uppercase;
  vertical-align: middle;

  @include tablet {
    max-width: 135px;
    margin: 0 auto;

    text-align: center;
  }

  @include desktop {
    max-width: 140px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__list {
  @include reset-list;

  justify-items: center;

  padding-top: 14px;

  @include tablet {
    padding-top: 18px;
  }

  @include desktop {
    padding-top: 23px;
  }
}

.card__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-width: 140px;

  font-size: 12px;
  line-height: 16px;

  @include tablet {
    flex-wrap: nowrap;

    min-width: 250px;
    margin-bottom: 6px;
    padding-bottom: 5px;

    font-size: 16px;
    line-height: 20px;

    border-bottom: 1px solid $dark-grey;
  }

  @include desktop {
    min-width: 169px;
    min-height: 21px;
  }
}

@include desktop {
  .card__item:nth-child(2) {
    margin-bottom: 2px;
    padding-bottom: 6px;
  }

  .card__item:nth-child(3) {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 9px;
  }
}

.card__parameter {
  max-width: 40%;
}

.card__value {
  max-width: 50%;
}

.card__button {
  grid-column: 1/-1;

  min-width: 280px;
  height: fit-content;
  margin-top: 16px;
  padding: 10px;

  @include tablet {
    min-width: 250px;
    margin-top: 26px;
  }

  @include desktop {
    min-width: 140px;
    margin-top: 32px;
  }
}

.card--add {
  display: flex;

  background-image: url("../../../icons/stack.svg#icon-plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 50% 25px;

  @include tablet {
    margin-top: 82px;
    padding: 0;

    background-size: 60px 60px;
    background-position: 50% 50px;
  }

  @include desktop {
    margin-top: 81px;
  }
}

.card__wrapper {
  margin-top: 57px;

  text-align: center;

  @include tablet {
    margin: 157px 38px 40px;
  }

  @include desktop {
    margin: 148px 38px 40px;
  }
}

@include max-width-mobile {
  .card__title--add {
    min-width: 204px;
    margin: 0 auto;
  }
}

.card__description {
  margin: 0 0 21px;
  padding-top: 8px;

  font-size: 12px;
  line-height: 16px;

  @include tablet {
    max-width: 165px;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 56px;

    font-size: 16px;
    line-height: 18px;
  }

  @include desktop {
    padding-top: 27px;
    padding-bottom: 57px;
  }
}
