.catalog {
  background-color: transparent;

  &__list {
    @include reset-list;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px 60px;
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 63px 80px;
    }
  }

  &__item {
    margin: 0 -20px;

    border-top: 1px solid $extra-light-grey;

    @include tablet {
      margin: 0 auto;

      border-top: none;
    }

    &:last-of-type {
      border-bottom: 1px solid $extra-light-grey;

      @include tablet {
        border-bottom: 1px solid $accent-light-grey;
      }
    }
  }
}
