.catalog {
  position: relative;

  transition: all 0.8s ease-out;

  &__wrapper {
    @include container;
  }

  &__list {
    @include reset-list;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: start;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 324px);
      gap: 60px 60px;
    }

    @include desktop {
      grid-template-columns: repeat(4, 245px);
      gap: 63px 80px;
    }
  }

  &__item {
    height: 209px;
    margin: 0;
    padding: 0;

    border-bottom: 1px solid $extra-light-grey;

    @include tablet {
      width: 324px;
      height: 511px;
      margin: 0 auto;

      border-bottom: none;
      background-image: linear-gradient(to top, $accent-light-grey 429px, $white 82px);
    }

    @include desktop {
      width: 245px;

      background-image: linear-gradient(to top, $accent-light-grey 430px, $white 81px);
    }

    &:last-child {
      height: 207px;

      @include tablet {
        height: 429px;
        margin-top: 82px;

        background-image: none;
        outline: 2px solid $accent-light-grey;
      }

      @include desktop {
        height: 431px;
        margin-top: 81px;
      }
    }
  }
}
