.main-inner {
  background-color: $white;

  transition: all 0.8s ease-out;

  &__wrapper {
    @include container;
  }

  &__title {
    width: 320px;
    margin: 0 auto;
    padding: 0;
    padding: 27px 0 41px;

    font-family: $main-font;

    text-align: left;
    border-top: 1px solid $specify-light-grey;

    transition: all 0.8s ease-out;

    @include tablet {
      width: 768px;
      margin: 65px auto 84px;

      border: none;
    }

    @include desktop {
      width: 1220px;
      margin: 74px auto 84px;
    }
  }
}
