.main-inner {
  position: relative;
  background-color: $white;
  transition: all 0.8s ease-out;

  &__wrapper {
    @include container;
    position: relative;

    @include max-width-mobile {
      &::after {
        @include pseudo-element;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $specify-light-grey;
      }

      &::before {
        @include pseudo-element;
        bottom: 0;
        right: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $extra-light-grey;
      }
    }

    @include tablet {
      &::before,
      &::after {
        border: none;
      }
    }
  }

  &__title {
    position: relative;

    width: 280px;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 41px;

    text-align: left;
    transition: width 0.8s ease-in-out;

    @include tablet {
      width: 708px;
      padding-top: 65px;
      padding-bottom: 84px;
    }

    @include desktop {
      width: 1220px;
      margin-left: 0;
      padding-top: 74px;
    }
  }
}
