.products__list {
  @include reset-list;
  margin-bottom: 19px;

  @include tablet {
    margin-bottom: 70px;
  }

  @include desktop {
    width: 895px;
    margin-bottom: 0;
  }
}

.products__item {
  border-top: 1px solid $dark-grey;

  @include tablet {
    padding: 26px 38px 28px;

    border: 1px solid $dark-grey;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 1px 17px;

    border: none;
    border-top: 1px solid $dark-grey;
  }

  &:last-child {
    border-bottom: 1px solid $dark-grey;
  }

  &:not(:last-child) {
    @include tablet {
      border-bottom: none;
    }
  }
}

.products__denomination {
  @include denomination;

  margin-top: 12px;
  margin-bottom: 13px;

  line-height: 16px;

  text-transform: uppercase;
  color: $specify-dark-grey;

  @include tablet {
    margin-bottom: 0;

    line-height: 20px;
  }

  @include desktop {
    max-width: 200px;
  }
}

.products__content {
  margin-bottom: 15px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 25px;
  }

  @include desktop {
    width: 560px;
    margin-bottom: 0;
  }
}
