.product {
  &__item {
    display: flex;
    justify-content: space-between;

    margin-top: 0;
    margin-bottom: 15px;

    font-family: $base-font;
    line-height: 14px;
    color: $accent-dark-grey;

    @include tablet {
      gap: 53px;

      margin-top: 0;
      margin-bottom: 0px;

      font-size: 16px;
      line-height: 20px;
    }

    @include desktop {
      gap: 40px;
      max-width: 410px;
      text-align: left;
    }
  }

  &__meaning {
    @include desktop {
      width: 200px;
    }
  }

  &__price {
    @include desktop {
      width: 50px;
    }
  }

  &__order {
    width: 100%;
    margin-bottom: 19px;
    padding: 10px;

    @include tablet {
      margin-bottom: 28px;
    }

    @include desktop {
      max-width: 244px;
      min-height: 40px;
      margin-bottom: 17px;
    }
  }
}






