.hero {
  position: relative;
  z-index: 1;

  min-width: 280px;

  transition: all 0.8s ease-out;

  @include tablet {
    min-width: 708px;

    background-color: transparent;
  }

  @include desktop {
    min-width: 1220px;

    background-color: transparent;
  }
}

.hero__wrapper {
  @include container;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  min-height: 480px;

  margin: 0 auto;

  @include tablet {
    align-items: flex-start;

    min-height: 875px;

    background-color: $white;
  }

  @include desktop {
    min-height: 580px;
    margin-bottom: 82px;

    background-color: transparent;
  }
}

.hero__title {
  max-width: 280px;
  margin: 27px 0 25px;
  padding: 0;

  color: $white;
  text-align: center;

  @include tablet {
    max-width: 416px;
    margin: 65px 0 20px 90px;

    color: $black;
    text-align: left;
  }

  @include desktop {
    margin: 110px 0 0 80px;
  }
}

.hero__slogan {
  max-width: 416px;
  padding: 0;
  margin: 0;

  font-family: $main-font;
  font-size: 14px;
  line-height: 14px;

  color: $white;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    width: 420px;
    margin: 20px 0 50px 90px;

    font-size: 20px;
    line-height: 20px;

    color: $black;
    text-align: left;
  }

  @include desktop {
    margin: 40px 0 0 80px;
  }
}

.hero__image {
  display: block;

  min-width: 280px;
  margin: 29px auto 3px;

  animation-name: fadeOut;
  animation-duration: 1.5s;

  @include tablet {
    position: absolute;
    top: 266px;
    left: 50%;

    min-width: 570px;
    margin: 0;

    transform: translate(-50%);
  }

  @include desktop {
    top: 29px;
    left: 557px;

    transform: none;
  }
}

.hero__button {
  min-width: 280px;
  height: 40px;

  @include tablet {
    position: absolute;
    top: 295px;
    left: 120px;

    width: 242px;
    min-height: 54px;
  }

  @include desktop {
    position: static;

    width: 244px;
    margin: 52px 0 0 80px;
  }
}
