.reasons {
  position: relative;

  margin: 0 auto;

  &__wrapper {
    @include container;
  }

  &__title {
    margin: 0 0 40px;

    @include tablet {
      margin: 0 0 32px;
    }
  }
}

.reasons__list {
  @include reset-list;

  width: 280px;

  margin: 0 0 49px;

  @include tablet {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 38px 139px;

    margin: 0 0 89px;

    &::after {
      @include pseudo-element;
      right: -30;
      bottom: -47px;
      left: -30;

      height: 1px;

      background-color: $extra-light-grey;
    }
  }

  @include desktop {
    gap: 80px;

    margin: 0 0 69px;
  }
}

.reasons__item {
  position: relative;

  display: flex;
  align-items: center;
  gap: 20px;

  max-width: 320px;
  min-height: 60px;
  padding: 0 20px 0 100px;

  counter-increment: number;

  @include max-width-mobile {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include tablet {
    position: relative;

    flex-direction: column;
    align-items: flex-start;
    gap: 31px;

    width: 245px;
    padding: 40px 0 57px;

    &::after {
      content: counter(number);
      position: absolute;
      top: 48%;
      right: 0;
      z-index: -1;

      font-family: $main-font;
      font-size: 280px;

      color: $accent-light-grey;
    }
  }

  @include desktop {
    gap: 80px;
  }

  &::before {
    @include pseudo-element;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $primary;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../../icons/stack.svg#icon-leaf");
      background-size: 30px 32px;
      background-repeat: no-repeat;
    }
  }

  &--powder {
    position: relative;

    ::before {
      @include pseudo-element;

      background-image: url("../../../icons/stack.svg#icon-powder");
      background-size: 30px 32px;
      background-repeat: no-repeat;
    }
  }

  &--food {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../../icons/stack.svg#icon-food");
      background-size: 30px 32px;
      background-repeat: no-repeat;
    }
  }

  &--time {
    position: relative;

    &--time::before {
      @include pseudo-element;

      background-image: url("../../../icons/stack.svg#icon-time");
      background-size: 30px 32px;
      background-repeat: no-repeat;
    }
  }
}

.reasons__item-text {
  margin: 0;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }
}
