.reasons {
  transition: all 0.8s ease-out;

  @include max-width-mobile {
    max-width: 320px;
    margin: 20px auto 49px;
  }

  @include tablet {
    max-width: 768px;
    min-height: 597px;
    margin: 45px auto 47px;

    &::after {
      @include pseudo-element;
      right: -30;
      bottom: -47px;
      left: -30;

      height: 1px;

      background-color: $extra-light-grey;
    }
  }

  @include desktop {
    max-width: 1440px;
    min-height: 280px;
    margin: auto;

    &::after {
      content: none;
    }
  }

  &__wrapper {
    @include container;

    margin: auto;
  }

  &__title {
    width: 280px;
    margin: 0 0 40px;

    text-align: left;

    @include tablet {
      width: 708px;
      margin: 0 0 32px;
    }

    @include desktop {
      width: 1220px;
      padding-top: 71px;
    }
  }

  &__list {
    @include reset-list;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    @include tablet {
      position: relative;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 37px 137px;
      align-items: start;

      margin: 0 75px 0 0;
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      gap: 74px;
      justify-content: space-between;

      margin: 0 auto;
    }
  }
}

.reasons__item {
  position: relative;

  display: flex;

  min-height: 60px;
  margin: 0;
  padding: 0;

  counter-increment: number 1;

  @include max-width-mobile {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include tablet {
    position: relative;

    min-width: 250px;
    min-height: 280px;
    margin: 0;
    padding: 0;

    &::after {
      content: counter(number);
      position: absolute;
      top: 48%;
      right: 0;
      z-index: -1;

      font-family: $main-font;
      font-size: 280px;

      color: $accent-light-grey;
    }
  }

  @include desktop {
    margin: 0 0 69px;
  }

  &::before {
    @include pseudo-element;
    top: -2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $primary;
    background-position: center center;
    background-repeat: no-repeat;

    @include tablet {
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../../icons/stack.svg#icon-leaf");
      background-size: 25px 28px;
    }
  }

  &--powder {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../../icons/stack.svg#icon-powder");
      background-size: 27px 29px;
      background-repeat: no-repeat;
    }
  }

  &--food {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../../icons/stack.svg#icon-food");
      background-size: 25px 30px;
      background-repeat: no-repeat;
    }
  }

  &--time {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../../icons/stack.svg#icon-time");
      background-size: 26px 31px;
      background-repeat: no-repeat;
    }
  }
}

.reasons__item-text {
  width: 100%;
  min-width: 200px;
  min-height: 72px;
  margin: 0 0 0 80px;
  padding: 2px 0 4px;

  @include tablet {
    min-width: 204px;
    margin: 151px 0 57px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    word-break: break-word;
    overflow-wrap: break-word;
  }
}
