.slider {
  position: relative;

  justify-self: center;

  width: 280px;
  height: 256px;

  touch-action: none;

  @include tablet {
    width: 560px;
    height: 512px;
  }

  &__thumb {
    position: absolute;
    left: 50%;
    z-index: 3;

    display: grid;
    place-items: center;

    width: 4px;
    height: 100%;
    margin: 0 -2px;
    padding: 0;

    border: none;
    border-radius: 2px;
    background-color: $very-dark-grey;
    cursor: col-resize;

    transition: background-color 0.3s ease;

    &::before {
      @include pseudo-element;
      top: 50%;
      left: 50%;

      width: 40px;
      height: 40px;

      background-color: $white;
      border: 2px solid $very-dark-grey;
      border-radius: 50%;
      cursor: col-resize;

      transform: translate(-50%, -50%);
    }

    &::after {
      @include pseudo-element;
      top: 50%;
      left: 50%;

      width: 24px;
      height: 18px;

      background-color: currentcolor;
      mask-image: url("../../../icons/stack.svg#icon-thumb");
      mask-repeat: no-repeat;
      mask-size: 24px 18px;

      transform: translate(-50%, -50%);
    }

    &:hover,
    &:hover::after {
      background-color: $primary;
    }

    &:hover::before,
    &:focus::before {
      border-color: $primary;
    }

    &:focus,
    &:focus::after {
      background-color: $primary;
    }

    &:active,
    &:active::after {
      background-color: $hover-green;
    }

    &:active::before {
      border-color: $hover-green;
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  &__wrapper-before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 50%;
    height: 100%;

    overflow: hidden;
    pointer-events: none;
    background-color: $very-light-grey;

    @include tablet {
      &::after {
        @include pseudo-element;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 151px;

        background-color: $white;
      }
    }

    @include desktop {
      background-color: $very-light-grey;

      &::after {
        height: 135px;
      }
    }
  }

  &__wrapper-after {
    pointer-events: none;
  }

  &__image {
    width: 280px;
    max-width: none;
    height: 100%;

    object-fit: cover;
    pointer-events: none;

    @include tablet {
      width: 560px;
    }

    &--before {
      object-position: left;
    }

    &--after {
      object-position: right;
    }
  }
}
