.slider {
  display: grid;
  --curtain-place: 0.5;
  grid-template-columns: calc(var(--curtain-place) * 100%) auto calc((1 - var(--curtain-place)) * 100%);

  width: min(100%, 560px);
  margin: 0 auto;

  aspect-ratio: 280/256;

  @include desktop {
    margin: 0;
  }

  &__image {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;

    &--before {
      object-position: left;
    }

    &--after {
      object-position: right;
    }
  }

  &__curtain {
    z-index: 1;

    display: grid;
    place-items: center;

    width: 4px;
    height: 100%;
    margin: 0 -2px;

    border-radius: 2px;
    color: var(--curtain-color, $very-dark-grey);
    background-color: currentColor;
    cursor: col-resize;
    appearance: none;

    transition: background-color 0.5s, opacity 0.5s;

    &:hover {
      background-color: $primary;
    }

    &:focus {
      background-color: $primary;
    }

    &:active {
      background-color: $hover-green;
      opacity: 0.6;
    }
  }

  &__thumb {
    display: grid;

    width: 40px;
    height: 40px;
    margin: -18px;
    padding: 0;

    color: inherit;
    border: 2px solid currentColor;
    border-radius: 20px;
    background-color: $white;
    cursor: col-resize;

    &::before {
      @include pseudo-element;
      z-index: 10;

      width: 24px;
      height: 18px;

      background-color: currentColor;
      mask-image: url("icons/stack.svg#icon-thumb");
      mask-size: 24px 18px;
      mask-repeat: no-repeat;
    }

    &:hover::before,
    &:focus::before {
      background-color: $primary;

      &[stroke] {
        color: $primary;
      }

      &[path] {
        fill: $primary;
      }
    }

    &:active::before {
      background-color: $hover-green;

      &[stroke] {
        color: $hover-green;
        opacity: 0.6;
      }

      &[path] {
        fill: $hover-green;
        opacity: 0.6;
      }
    }
  }
}
