.stats {
  padding-top: 25px;
  padding-bottom: 40px;

  background-color: $very-light-grey;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 101px;

    background: linear-gradient(180deg, $white 0%, $white 57%, $very-light-grey 57%, $very-light-grey 100%);
    border: 1px solid $extra-light-grey;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 75px;

    background: linear-gradient(180deg, $white 0%, $white 23%, $accent-light-grey 23%, $accent-light-grey 100%);
    border: none;
  }
}

.stats__wrapper {
  @include container;
}

.stats__title {
  min-width: 280px;
  margin-bottom: 40px;

  text-align: left;

  @include tablet {
    min-width: 708px;
    margin-bottom: 60px;
  }

  @include desktop {
    min-width: 436px;
    margin-bottom: 76px;
  }
}

.stats__content {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.stas__example {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  grid-template-rows: auto auto auto;
  gap: 20px 32px;
  justify-content: center;

  margin-bottom: 20px;

  @include tablet {
    grid-template-rows: 1fr;
    grid-template-columns: 162px 162px 1fr;
    gap: 0 43px;

    margin-bottom: 99px;
  }

  @include desktop {
    grid-template-columns: repeat(2, 162px);
    grid-template-rows: auto auto auto;
    gap: 55px 42px;
    align-content: start;

    margin-bottom: 0;
  }
}

.stats__description {
  grid-column: 1 / -1;

  margin: 0;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    margin-bottom: 69px;
  }
}

.stats__module {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 70px;

  &--days {
    justify-self: right;

    @include desktop {
      justify-self: left;
    }
  }
}

.stats__module--number {
  display: inline-block;

  width: 124px;
  min-height: 56px;
  margin-top: 15px;
  margin-bottom: 8px;
  padding-bottom: 14px;

  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;

  color: $black;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $dark-grey;
  border-radius: 3px;

  @include tablet {
    width: 162px;
    min-height: 72px;
    margin-bottom: 11px;
    padding-bottom: 5px;

    font-size: 30px;
    line-height: 37px;
  }
}

.stats__module--action {
  position: absolute;
  top: 46px;
  left: 22px;

  width: 77px;
  min-height: 24px;
  padding-top: 5px;

  font-family: $main-font;
  font-size: 12px;
  line-height: 12px;

  background-color: $very-light-grey;
  letter-spacing: 0;
  text-align: center;

  transform: translateX(-50%);

  @include tablet {
    top: 63px;
    left: 32px;

    width: max-content;
    padding-top: 0;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;
  }

  @include desktop {
    position: relative;
    top: 65px;

    max-width: 125px;

    background-color: $very-light-grey;

    &::before {
      background-color: $very-light-grey;
    }

    &::after {
      background-color: $very-light-grey;
    }
  }
}

// .stats__item--weight {
//   grid-column: 1/2;
// }


// .stats__text {
//   display: flex;
//   justify-content: center;
//   gap: 3px;

//   margin: 0;
//   margin-bottom: 20px;

//   font-family: $main-font;
//   line-height: 20px;
//   text-transform: uppercase;

//   @media (min-width: $breakpoint-tablet-min) {
//     flex-direction: column;
//     align-items: flex-end;

//     margin: 11px 0 17px;

//     font-size: 20px;
//     line-height: 20px;

//     text-align: right;
//   }

//   @media (min-width: $breakpoint-desktop-min) {
//     flex-direction: row;
//     gap: 63px;

//     margin: 0;
//   }
// }

// .stats__slider {
//   position: relative;

//   display: grid;
//   grid-template-columns: 50% 1fr;

//   width: 280px;
//   height: 256px;
//   margin: 0 auto;

//   overflow: hidden;

//   @media (min-width: $breakpoint-tablet-min) {
//     width: 560px;
//     height: 512px;
//   }
// }

// .stats__slider-wrapper {
//   display: flex;
//   grid-row: 1/2;

//   overflow: hidden;

//   &--before {
//     grid-column: 1/2;
//   }

//   &--after {
//     justify-content: flex-end;

//     grid-column: 2/3;
//   }
// }

// .stats__slider-image {
//   width: 280px;
//   max-width: 280px;

//   @media (min-width: $breakpoint-tablet-min) {
//     width: 560px;
//     max-width: 560px;
//   }
// }

// .stats__range {
//   position: absolute;
//   top: 0;
//   left: 50%;

//   width: 4px;
//   height: 100%;

//   background-color: $very-dark-grey;
//   z-index: 3;

//   &:hover {
//     background-color: $primary;
//   }

//   &:hover .stats__range-toggle {
//     color: $primary;
//   }

//   &:active {
//     background-color: rgba($hover-green, 0.6);
//   }

//   &:active .stats__range-toggle {
//     color: rgba($hover-green, 0.6);
//   }
// }

// .stats__range-toggle {
//   position: absolute;
//   top: calc(50% - 20px);
//   left: -18px;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   width: 40px;
//   height: 40px;

//   border-radius: 100%;
//   text-align: center;
//   background-color: $white;
//   border: 4px currentColor solid;
//   color: currentColor;
//   box-sizing: border-box;
//   cursor: pointer;
//   z-index: 300;
// }

// .stats__range-image {
//   position: absolute;
//   top: 9px;
//   left: 7px;

//   width: 24px;
//   height: 18px;

//   fill: $very-dark-grey;
// }
