.stats {
  padding-top: 25px;
  padding-bottom: 40px;

  background-color: $very-light-grey;

  @include tablet {
    position: relative;

    padding-top: 45px;
    padding-bottom: 101px;

    background-color: $white;

    &::before {
      @include pseudo-element;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 463px;

      background-color: $very-light-grey;
    }
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.stats__wrapper {
  @include container;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.stas__content {
  @include desktop {
    width: 436px;
  }
}

.stats__title {
  min-width: 280px;
  margin: 0 auto 40px;

  text-align: left;

  @include tablet {
    min-width: 708px;
    margin-bottom: 60px;

    border: 1px solid $dark-grey;
    border-top: 45px;
  }

  @include desktop {
    min-width: 436px;
    margin-bottom: 76px;

    border: none;
  }
}

.stats__description {
  width: 100%;
  min-width: 280px;
  min-height: 108px;
  margin-bottom: 20px;

  @include tablet {
    min-width: 708px;
    min-height: 72px;
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    min-width: 436px;
    min-height: 96px;
    margin-bottom: 69px;
  }
}

.stats__module {
  display: flex;
  flex-flow: row wrap;

  @include tablet {
    flex-direction: column;
    align-items: center;
    gap: 167px;
  }

  @include desktop {
    display: block;
  }
}

.stats__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  gap: 32px;

  margin-bottom: 20px;

  @include tablet {
    gap: 43px;

    margin-bottom: 0;
  }

  @include desktop {
    gap: 42px;

    margin-bottom: 55px;
  }
}

.stats__item {
  width: 124px;
  min-height: 56px;

  border: 1px solid $dark-grey;

  @include tablet {
    width: 162px;
    min-height: 72px;
  }
}

.stats__item-number {
  margin-top: 15px;
  margin-bottom: 8px;

  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;

  color: $black;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    margin-bottom: 11px;

    font-size: 30px;
    line-height: 37px;
  }
}

.stats__item-action {
  position: absolute;
  bottom: -14px;
  left: 50%;

  width: 77px;
  margin-top: 8px;

  font-family: $main-font;
  font-size: 12px;
  line-height: 12px;

  color: $accent-dark-grey;
  background-color: $very-light-grey;
  letter-spacing: 0;
  text-align: center;


  transform: translateX(-50%);

  &::before {
    @include pseudo-element;
    top: 0;
    left: -10px;

    width: 10px;
    height: 15px;

    background-color: $very-light-grey;
  }

  &::after {
    @include pseudo-element;
    top: 0;
    right: -10px;

    width: 10px;
    height: 15px;

    background-color: $very-light-grey;
  }

  @include tablet {
    position: realitive;
    bottom: -6px;

    width: max-content;

    line-height: 14px;

    background-color: $white;

    &::before {
      @include pseudo-element;

      background-color: $white;
    }

    &::after {
      @include pseudo-element;

      background-color: $white;
    }
  }

  @include desktop {
    position: relative;
    top: 65px;

    max-width: 125px;

    background-color: $very-light-grey;

    &::before {
      background-color: $very-light-grey;
    }

    &::after {
      background-color: $very-light-grey;
    }
  }
}


.stats__text {
  display: flex;
  justify-content: center;
  gap: 3px;

  margin: 0;
  margin-bottom: 20px;

  font-family: $main-font;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet-min) {
    flex-direction: column;
    align-items: flex-end;

    margin: 11px 0 17px;

    font-size: 20px;
    line-height: 20px;

    text-align: right;
  }

  @media (min-width: $breakpoint-desktop-min) {
    flex-direction: row;
    gap: 63px;

    margin: 0;
  }
}

.stats__slider {
  position: relative;

  display: grid;
  grid-template-columns: 50% 1fr;

  width: 280px;
  height: 256px;
  margin: 0 auto;

  overflow: hidden;

  @media (min-width: $breakpoint-tablet-min) {
    width: 560px;
    height: 512px;
  }
}

.stats__slider-wrapper {
  display: flex;
  grid-row: 1/2;

  overflow: hidden;

  &--before {
    grid-column: 1/2;
  }

  &--after {
    justify-content: flex-end;

    grid-column: 2/3;
  }
}

.stats__slider-image {
  width: 280px;
  max-width: 280px;

  @media (min-width: $breakpoint-tablet-min) {
    width: 560px;
    max-width: 560px;
  }
}

.stats__range {
  position: absolute;
  top: 0;
  left: 50%;

  width: 4px;
  height: 100%;

  background-color: $very-dark-grey;
  z-index: 3;

  &:hover {
    background-color: $primary;
  }

  &:hover .stats__range-toggle {
    color: $primary;
  }

  &:active {
    background-color: rgba($hover-green, 0.6);
  }

  &:active .stats__range-toggle {
    color: rgba($hover-green, 0.6);
  }
}

.stats__range-toggle {
  position: absolute;
  top: calc(50% - 20px);
  left: -18px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 100%;
  text-align: center;
  background-color: $white;
  border: 4px currentColor solid;
  color: currentColor;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 300;
}

.stats__range-image {
  position: absolute;
  top: 9px;
  left: 7px;

  width: 24px;
  height: 18px;

  fill: $very-dark-grey;
}
