.button {
  width: 280px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;

  color: $base-green;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
}
