.main-index {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-right: 21px;
  padding-left: 20px;

  background-color: $white;
  color: $black;

  // .main-index__container
  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
}
