.map {
  position: relative;

  display: flex;
  flex-direction: column;

  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-right: 21px;
  padding-left: 20px;

  background-color: $base-white;
  color: $base-black;

  // .map__wrapper
  &__wrapper {
    width: 320px;
    height: 112px;
  }

  // .map__title
  &__title {
    font-family: $secondary-font;
    font-size: 40px;
    line-height: 40px;
  }

  // .map__signboard
  &__signboard {
    width: 140px;
    height: 60px;
  }
}
