.navigation {

  // .navigation__toggle
  &__toggle {
  }

  // .navigation__wrapper
  &__wrapper {
  }

  // .navigation__list
  &__list {
  }

  // .navigation__list--closed
  &__list--closed {
  }

  // .navigation__item
  &__item {
  }

  // .navigation__link
  &__link {
  }

  // .navigation__link--current
  &__link--current {
  }
}
