.footer-logotext {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 280px;
  padding: 0;

  cursor: pointer;

  transition: all 0.8s ease-out;

  @include max-width-mobile {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @include tablet {
    justify-content: flex-start;

    min-width: 128px;
    min-height: 37px;
    margin: 0;
    margin-right: auto;
    padding: 0;
  }

  &__link {
    @include reset-link;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 128px;
    min-height: 24px;

    color: currentColor;

    &::after {
      @include pseudo-element;

      width: 128px;
      height: 24px;

      background-color: $extra-dark-grey;
      mask-image: url("../../icons/stack.svg#icon-footer-logotext");
      mask-size: 128px 24px;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    &:hover::after {
      background-color: $hover;
    }

    &:focus::after {
      background-color: $hover;
    }

    &:active::after {
      background-color: $active;
    }

    @include tablet {
      justify-content: flex-start;

      min-width: 128px;
      padding: 0;
    }
  }
}
