.footer-logotext {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 320px;
  margin: 40px auto 20px;

  &__link {
    @include reset-link;

    width: 128;
    height: 24;
    margin: 0;

    color: $extra-dark-grey;
    cursor: pointer;
    border-bottom: 1px solid $specify-light-grey;

    &::after {
      @include pseudo-element;

      width: 128px;
      height: 24px;

      background-color: $specify-light-grey;
      mask-image: url("./icons/stack.svg#footer-logotext");
      mask-position: center;
      mask-size: 128px 24px;
      mask-repeat: no-repeat;
    }

    &[path]:hover {
      color: $hover;
      fill: $hover;
    }

    &[path]:focus {
      color: $hover;
      fill: $hover;
    }

    &[path]:active {
      color: $active;
      fill: $active;
    }

    @include tablet {
      margin-right: 160px;
      padding: 7px 0;
    }

    @include desktop {
      margin-right: 416px;
    }
  }
}
