.footer-logotext {
  display: flex;

  width: 128px;
  height: 24px;

  cursor: pointer;

  transition: all 0.8s ease-out;

  @include max-width-mobile {
    min-width: 100%;
    margin-top: 40px;
  }

  @include tablet {
    margin-top: 0;
    margin-right: auto;
  }

  &__link {
    @include reset-link;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 128px;
    margin: 0 auto 20px;

    color: currentColor;

    &::after {
      @include pseudo-element;

      width: 128px;
      height: 24px;

      background-color: $extra-dark-grey;
      mask-image: url("../../../icons/stack.svg#icon-footer-logotext");
      mask-size: 128px 24px;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    &:hover::after {
      background-color: $hover;
    }

    &:focus::after {
      background-color: $hover;
    }

    &:active::after {
      background-color: $active;
    }

    @include tablet {
      justify-content: flex-start;

      margin: 7px 0;
      padding: 0;
    }

    @include desktop {
      margin-right: 416px;
    }
  }
}
