.logo-htmlacademy {
  position: relative;
}

.logo-htmlacademy__link {
  @include reset-link;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px auto 40px;
  padding: 0;

  color: $accent-dark-grey;

  &::after {
    @include pseudo-element;
    top: -4px;
    right: 0;

    width: 27px;
    height: 34px;

    background-color: $very-dark-grey;
    mask-image: url("../../icons/stack.svg#icon-htmlacademy");
    mask-size: 27px 34px;
    mask-repeat: no-repeat;
    mask-position: center;

    @include tablet {
      top: -5px;
    }
  }

  &:hover::after {
    background-color: $primary;
  }

  &:focus::after {
    background-color: $primary;
  }

  &:active::after {
    background-color: $primary;
    opacity: 0.3;
  }

  @include tablet {
    margin: 0;
    margin-left: auto;
  }
}

.logo-htmlacademy__text {
  display: flex;
  align-items: center;

  height: 25px;

  font-size: 16px;
  line-height: 20px;

  @include tablet {
    gap: 23px;

    margin: 0;
    padding: 0 0 0 5px;
  }
}
