.logo-htmlacademy {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 34px;

  cursor: pointer;

  transition: all 0.8s ease-out;

  @include max-width-mobile {
    width: 100%;
    height: 100%;
  }

  @include tablet {
    justify-content: flex-end;

    width: 168px;
    height: 37px;
    margin: 0;
    padding: 0;
  }

  &__link {
    @include reset-link;

    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 280px;
    height: 37px;
    margin: 20px auto 40px;

    color: $accent-dark-grey;
    vertical-align: middle;

    @include tablet {
      width: 168px;
      margin: 0;
      padding: 0;
    }

    &::after {
      @include pseudo-element;
      top: 0;
      right: 0;

      width: 27px;
      height: 34px;

      background-color: $very-dark-grey;
      mask-image: url("../../icons/stack.svg#icon-htmlacademy");
      mask-size: 27px 34px;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    &:hover::after {
      background-color: $primary;
    }

    &:focus::after {
      background-color: $primary;
    }

    &:active::after {
      background-color: $primary;
      opacity: 0.3;
    }
  }

  &__text {
    display: flex;
    align-items: center;

    min-width: 113px;
    min-height: 34px;

    font-size: 16px;
    line-height: 20px;

    @include tablet {
      gap: 23px;

      min-height: 37px;
      margin: 0;
      padding: 0;
    }
  }
}
