.main-footer {
  position: relative;

  background-color: $accent-light-grey;
  color: $black;

  padding-top: 40px;
  padding-bottom: 40px;

  &__wrapper {
    @include container;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    min-width: 320px;
  }

  &__footer-logotext {
    @include reset-link;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;

    cursor: pointer;
    text-align: center;
    color: $extra-dark-grey;
    border-bottom: 1px solid $specify-light-grey;

    &:hover img,
    &:focus img {
      fill: $hover;
    }

    &:active img {
      fill: $active;
    }
  }

  &__footer-logotext-image {
    width: 128px;
    height: 24px;

    vertical-align: middle;
  }

  &__social {
    display: flex;
    align-self: center;
    gap: 24px;

    min-width: 132px;
    margin: 0;
    padding: 20px 0;
  }

  &__logo-htmlacademy {
    position: relative;
  }
}
