.main-footer {
  background-color: $accent-light-grey;

  transition: all 0.8s ease-out;

  &__map {
    position: relative;

    display: grid;

    width: 100%;
    min-width: $breakpoint-mobile-min;
    margin: 0 auto;

    @include tablet {
      min-width: $breakpoint-tablet-min;
    }

    @include desktop {
      min-width: $breakpoint-desktop-min;
      margin: 0;
    }
  }

  &__wrapper {
    @include container;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 320px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;

      min-width: 768px;
      height: 37px;
      padding-top: 55px;
      padding-bottom: 55px;
    }

    @include desktop {
      min-width: 1220px;
      padding-top: 66px;
      padding-bottom: 66px;
    }
  }
}

.main-footer__item {
  width: 100%;
  max-height: 37px;

  &:not(:last-child) {
    border-bottom: 1px solid $specify-light-grey;

    @include tablet {
      border: none;
    }
  }

  @include max-width-mobile {
    min-width: 320px;
  }

  @include tablet {
    padding: 0;

    &:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--footer-logotext {
    display: block;

    width: 128px;
    margin: 0;
  }

  &--footer-social {
    margin: 0;
    padding: 20px 0;

    @include tablet {
      width: 132px;
      height: 22px;
      margin-right: auto;
      padding: 0;
    }
  }

  &--logo-htmlacademy {
    min-width: 280px;
    height: 34px;
    margin: 0;

    @include tablet {
      margin: 0 0 0 auto;
    }
  }
}
