.map {
  position: relative;

  transition: all 0.5s ease-out;

  &__wrapper {
    @include container;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    justify-content: space-between;

    width: 100%;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 26px;

    @include tablet {
      grid-template-columns: repeat(2, 170px);

      padding: 60px 40px;
    }

    @include desktop {
      position: absolute;
      top: 95px;
      left: 110px;
      z-index: 2;

      gap: 81px;

      width: 565px;
      max-height: 199px;
      padding: 60px 78px 60px 80px;

      background-color: $white;
    }
  }

  &__content--catalog {
    background-color: $accent-light-grey;

    @include desktop {
      background-color: $white;
    }
  }

  &__text {
    width: 140px;
    margin: 0;
    padding-right: 13px;

    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;

    color: $extra-dark-grey;
    text-align: left;
    text-transform: uppercase;

    @include tablet {
      width: 170px;

      font-size: 20px;
      line-height: 26px;
    }
  }

  &__direction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 140px;

    line-height: 20px;
    font-style: normal;

    color: $accent-dark-grey;
    text-align: left;

    @include tablet {
      width: 170px;

      font-size: 16px;

      text-align: right;
    }

    @include desktop {
      gap: 19px;

      width: 157px;

      text-align: left;
    }
  }

  &__address {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__city {
    margin-top: 0;
    margin-bottom: 0;

    @include tablet {
      margin-top: 0;
      margin-left: 0;
    }
  }

  &__location {
    position: relative;
    top: 0;

    width: 100%;
    height: 362px;

    background-color: $dark-grey;
    background-image:
      image-set(
        url("../../images/maps/map-pin-mobile@1x.png") 1x type("image/png"),
        url("../../images/maps/map-pin-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/maps/map-pin-mobile@2x.png") 2x type("image/png"),
        url("../../images/maps/map-pin-mobile@2x.webp") 2x type("image/webp")
      );
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      min-height: 400px;

      background-image:
        image-set(
          url("../../images/maps/map-pin-tablet@1x.png") 1x type("image/png"),
          url("../../images/maps/map-pin-tablet@1x.webp") 1x type("image/webp"),
          url("../../images/maps/map-pin-tablet@2x.png") 2x type("image/png"),
          url("../../images/maps/map-pin-tablet@2x.webp") 2x type("image/webp")
        );
    }

    @include desktop {
      background-image:
        image-set(
          url("../../images/maps/map-pin-desktop@1x.png") 1x type("image/png"),
          url("../../images/maps/map-pin-desktop@1x.webp") 1x type("image/webp"),
          url("../../images/maps/map-pin-desktop@2x.png") 2x type("image/png"),
          url("../../images/maps/map-pin-desktop@2x.webp") 2x type("image/webp")
        );
    }
  }

  &__location-iframe {
    display: block;

    width: 100%;
    height: 362px;

    border: none;

    @include tablet {
      height: 400px;
    }
  }

  &__location-iframe--nojs {
    display: none;
  }

  &__pin {
    position: absolute;
    top: 139px;
    left: 134px;
    z-index: 10;

    display: none;

    width: 57px;
    height: 53px;

    background-image:
      image-set(
        url("../../images/maps/pin-mobile@1x.png") 1x type("image/png"),
        url("../../images/maps/pin-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/maps/pin-mobile@2x.png") 2x type("image/png"),
        url("../../images/maps/pin-mobile@2x.webp") 2x type("image/webp")
      );
    background-repeat: no-repeat;
    background-size: 57px 53px;

    @include tablet {
      top: 146px;
      left: 333px;

      width: 113px;
      height: 106px;

      background-image:
        image-set(
          url("../../images/maps/pin-tablet1x.png") 1x type("image/png"),
          url("../../images/maps/pin-tablet@1x.webp") 1x type("image/webp"),
          url("../../images/maps/pin-tablet@2x.png") 2x type("image/png"),
          url("../../images/maps/pin-tablet@2x.webp") 2x type("image/webp")
        );
      background-repeat: no-repeat;
      background-size: 113px 106px;
    }

    @include desktop {
      top: 131px;
      left: 908px;
    }
  }
}
