.map {
  background-color: $white;

  transition: all 0.5s ease-out;

  &__content {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 60px;
    justify-content: space-between;

    width: 100%;

    @include max-width-mobile {
      max-width: 280px;
      min-height: 112px;
      margin: 0 auto;
      padding-top: 65px;
      padding-bottom: 26px;
    }

    @include tablet {
      grid-template-columns: repeat(2, 163px);
      grid-template-rows: 78px;
      gap: 274px;

      min-height: 200px;
      margin: 0 auto;
      padding: 60px 40px;
    }

    @include desktop {
      position: absolute;
      top: 95px;
      left: 110px;
      z-index: 10;

      justify-content: start;
      gap: 87px;

      width: 563px;
      min-height: 199px;
      margin: 0;
      padding: 60px 80px;

      background-color: $white;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;

    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;
    padding: 1px 0;

    color: $extra-dark-grey;
    text-align: left;
    text-transform: uppercase;

    @include tablet {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__location-iframe {
    display: none;

    height: 362px;

    border: none;
    object-fit: cover;

    @include tablet {
      height: 400px;
    }

    @include desktop {
      height: 100%;
    }
  }

  &__pin {
    position: absolute;
    top: 139px;
    left: 134px;
    z-index: 10;

    display: none;

    width: 57px;
    height: 53px;

    @include tablet {
      top: 146px;
      left: 333px;

      width: 113px;
      height: 106px;
    }

    @include desktop {
      top: 131px;
      left: 908px;
    }
  }
}

.map__wrapper {
  @include container;
}

.map__wrapper--color {
  margin: 0;
  background-color: $accent-light-grey;

  @include desktop {
    background-color: $white;
  }
}

.map__direction {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 140px;
  margin: 0;
  margin-right: auto;

  font-family: $base-font;
  line-height: 20px;

  color: $accent-dark-grey;

  &__address {
    margin-top: 0;
    margin-bottom: 0;

    @include tablet {
      margin-bottom: 19px;
    }
  }

  &__city {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include tablet {
    justify-content: space-between;

    width: 163px;

    font-size: 16px;

    text-align: right;
  }

  @include desktop {
    text-align: left;
  }
}

.map__location {
  width: 100%;
  height: 362px;

  background-color: $dark-grey;
  background-image:
    image-set(
      url("../../images/maps/location-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/maps/location-mobile@2x.jpg") 2x type("image/jpeg"),
      url("../../images/maps/location-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/maps/location-mobile@1x.jpg") 1x type("image/jpeg")
    );
  background-size: 320px 362px;
  background-position: center;
  background-repeat: no-repeat;

  @include tablet {
    height: 400px;

    background-image:
      image-set(
        url("../../images/maps/location-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/maps/location-tablet@2x.jpg") 2x type("image/jpeg"),
        url("../../images/maps/location-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/maps/location-tablet@1x.jpg") 1x type("image/jpeg")
      );
    background-size: 768px 400px;
  }

  @include desktop {
    background-image:
      image-set(
        url("../../images/maps/location-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/maps/location-desktop@2x.jpg") 2x type("image/jpeg"),
        url("../../images/maps/location-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/maps/location-desktop@1x.jpg") 1x type("image/jpeg")
      );
    background-size: 1440px 400px;
  }
}

.map__content--catalog {
  @include max-width-mobile {
    padding-top: 26px;
  }

  @include tablet {
    padding: 106px 37px 62px 43px;
  }
}
